/* jyoon.css  Global Styles */

body {
	margin:0px;
	}

td {
	font:11px arial;
	color:#333333;
	}
	
a {
	color: #cc0000;
	text-decoration:none;
	font-weight:bold;
	}
	
a:hover {
	color: #990000;
	text-decoration:underline;
	}
	
/* ID Styles */

#navigation a {
	font:10px arial;
	color: #ffffff;
	text-decoration:none;
	letter-spacing:.1em;
	}
	
#navigation a:hover {
	color: #99CCFF;
	}

#padding {
	padding:20px 5px 20px 5px;
	}
	
#calendar td {
	border: 1px solid rgb(0,51,153);
	}
	
#noborder td {
	border: 0px;
	}
	
#weekdays th {
	font:11px arial;
	color: #ffffff;
	font-weight:bold;
	border: 0px;
	padding:2px;
	}

#calheader td {
	font-weight:bold;
	}

/* Class Styles */

.logo {
	font:30px times new roman;
	color: #0E177C;
	letter-spacing:.3em;
	font-weight:bold;
	line-height:30px;
	}

.tagline {
	font:18px times new roman;
	color: #CC3300;
	letter-spacing:0.3em;
	line-height:20px;
	}

.smallText {
	font:12px times new roman;
	color: #CC3300;
	line-height:18px;
	}

.pageHeader {
	font:30px times new roman;
	color: #CC3300;
	letter-spacing:.1em;
	line-height:38px;
	}
	
.bodyText {
	font:12px arial;
	color:#333333;
	line-height:20px;
	}
	
.bodyTextHeader {
	font:22px times new roman;
	color: #003399;
	font-weight:bold;
	line-height:28px;
	}	
	
.pageName {
	font:20px georgia;
	color: #CC3300;
	letter-spacing:.1em;
	line-height:20px;
	}
	
.subHeader {
	font:14px times new roman;
	color: #003399;
	font-weight:bold;
	line-height:20px;
	letter-spacing:.1em;
	}
	
.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
/* JY custom styles from mm_travel2.css */
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
/* JY custom styles from mm_travel2.css */	

.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
/* JY custom styles from mm_travel2.css */

.navTextWh {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
/* JY custom styles from mm_travel2.css */
	
.navText2 {
	font:14px arial;
	color: #003366;
	letter-spacing:.2em;
	}
	
/* JY custom styles */	
	
.bodyTextSm {
	font:10px arial;
	color:#333333;
	line-height:20px;
	}	
	/* JY custom */
		
.bodyTextMed {
	font:14px arial;
	color:#333333;
	line-height:24px;
	}	
	/* JY custom */
		
.bodyTextLg {
	font:18px arial;
	color:#333333;
	line-height:24px;
	}	
	/* JY custom */
		
.bodyTextRed {
	font:14px arial;
	color:#cc0000;
	font-weight:bold;
	line-height:24px;
	}	
	/* JY custom */

.bodyTextNavyBlue {
	font:14px arial;
	color:#000080;
	font-weight:bold;
	line-height:24px;
	}	
	/* JY custom */

.logoSm {
	font:18px times new roman;
	color: #0E177C;
	letter-spacing:.3em;
	font-weight:bold;
	line-height:22px;
	}
	/* JY custom */
	
.taglineSm {
	font:12px times new roman;
	color: #CC3300;
	letter-spacing:.2em;
	}
	/* JY custom */